@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<form>
    <h1 class="mt-5 mb-3">Increva-se em um Curso!</h1>
    <div class="mb-3">
        <label for="email" class="form-label">Email</label>
        <input type="email" class="form-control" id="email">
    </div>
    <div class="mb-3">
        <label for="curso" class="form-label">Nome do Curso</label>
        <input type="text" class="form-control" id="curso">
    </div>
    <div class="mb-3">
        <label for="motivo" class="form-label">Por que deseja se inscrever neste curso?</label>
        <input type="text" class="form-control" id="motivo">
    </div>
    <button type="submit" class="btn btn-primary">Enviar</button>
</form>